@using ToDoListApp.Domain.Enums
@model ToDoListApp.Application.ToDoItems.Commands.AddToDoItem.CreateToDoItemCommand
@{
    ViewData["Title"] = "Create";
}

<h1>Create a ToDo item</h1>
<form asp-controller="ToDoList" asp-action="Create" method="post" class="form-group">
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" />
        </div>
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Priority" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()" class="btn btn-primary dropdown-toggle form-inline"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EstimatedFinish" class="col-sm-2 col-form-label">Estimated finish date</label>
        <div class="input-group col-sm-10 date">
            <input asp-for="EstimatedFinish" type="datetime" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>